@using Microsoft.AspNetCore.Mvc.Localization
@using Safewhere.SCIMModel.ClaimDefinitions;
@using Safewhere.SelfService
@using Safewhere.SelfService.Core
@using Microsoft.AspNetCore.Html

@inject IHtmlLocalizer<SharedResources> Localizer

@model Safewhere.SelfService.Models.MyDetailModel

@{
    string checkPasswordRegexEndpoint = Url.Content("~/Password/CheckPasswordRegex");
}

@section TitleHeader{
    @Localizer["MyProfile_ResetPassword_Tittle"]
}

@section StyleSheet{
<link rel="stylesheet" href="~/css/show-hide-password-fields.css">
<link rel="stylesheet" href="~/css/pass-strength.css">
}
@section Scripts {
<script type="text/javascript" language="JavaScript">
    window.textWeak = '@Localizer["PasswordStrength_Weak"]';
    window.textMedium = '@Localizer["PasswordStrength_Medium"]';
    window.textStrong = '@Localizer["PasswordStrength_Strong"]';
    window.textVeryStrong = '@Localizer["PasswordStrength_VeryStrong"]';
    window.identifyPasswordRegexPolicy = /@ViewData["IdentifyPasswordRegexPolicy"]/;

    window.onload = function () {
            check_password(false);
        };
</script>
<script src="~/js/password-helpers.js"></script>
<script src="~/js/zxcvbn.js"></script>
<script src="~/js/pass-strength.js"></script>
}

<div class="form-box">
    <div class="form-top">
        <div class="form-top-left text-left">
            <h4>@Localizer["MyProfile_ResetPassword_Tittle"]</h4>
        </div>
    </div>
    <br />
    <div class="form-bottom form-center">
        <form asp-action="ResetUserPassword" enctype="multipart/form-data" role="form">
            @Html.AntiForgeryToken()
           @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div id="form-error-message" class="form-group flex-box text-danger text-center text-break error-bg pt-2 pb-2">
                    <span for="errorMessageLb">
                       @(new HtmlString(Model.ErrorMessage)) 
                    </span>
                </div>
            }

            @if (!string.IsNullOrEmpty(Model.InfoMessage))
            {
                <div id="form-info" class="form-group flex-box text-info text-center text-break info-bg pt-2 pb-2">
                    <span>
                        @(new HtmlString(Model.InfoMessage))
                    </span>
                </div>
            }

            @if (Model!.CanResetPassword)
            {
                <div class="form-group">
                    <label class="control-label required" asp-for="Password">@Localizer["MyProfile_NewPassword"]</label>
                    <div class="input-group" id="show_hide_password">
                        <input id="password" class="form-control pr-password" autocomplete="new-password" type="password" asp-for="Password" oninput="check_password()">
                        <div class="input-group-addon">
                            <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label required" asp-for="RetypeNewPassword">@Localizer["MyProfile_RetypeNewPassword"]</label>
                    <div class="input-group" id="show_hide_confirm_password">
                        <input id="retypeNewPassword" class="form-control" autocomplete="new-password" type="password" asp-for="RetypeNewPassword" oninput="check_retype_password()">
                        <div class="input-group-addon">
                            <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>

                <br />

                <div class="form-group text-center">
                    <button id="submit" type="submit" class="btn btn-selfservice" disabled>@Localizer["CommonTextResources_Save"]</button>
                </div>

                <br />

                <div class="card">
                    <div id="password-has" class="card-header">
                        @Localizer["Password_Has"]
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i id="password-strength-satisfied" style="color: #2c88d9;" class="fa fa-circle-o" aria-hidden="true"></i> @Localizer["CommonTextResources_PasswordSatisfied"]</li>
                        <li class="list-group-item"><i id="password-matched" style="color: #2c88d9;" class="fa fa-circle-o" aria-hidden="true"></i> @Localizer["CommonTextResources_PasswordMatched"]</li>
                        <li class="list-group-item"><i id="password-required-characters" style="color: #2c88d9;" class="fa fa-circle-o" aria-hidden="true"></i> @Localizer["CommonTextResources_PasswordRequiredCharactersContains"]</li>
                    </ul>
                </div>
            }
            else
            {
                <div class="form-group text-center"><span>@Localizer["MyProfile_CannotChangePassordMessage"]</span></div>
            }
        </form>
    </div>
</div>