@using System.Globalization
@using System.Web.Mvc.Html
@using System.Web.Mvc
@using Safewhere.External.Authentication
@{
    ViewBag.Title = "";
}
@model GenericProviderAuthenticationModel
@section TitleHeader{
    Dummy Generic Provider username & password login error
}
@section TitleContent{
}
@section MainContent{
    <div class="form-box">
        <div class="form-top">
            <div class="form-top-left text-left">
                <h4>
                    Dummy Generic Provider username & password login error
                </h4>
            </div>
        </div>
        <div class="form-bottom">
            <div class="form-group">
                <label>Login result status</label> <br />
                <ul>
                    <li>Missing requried field: @Model.MissingRequiredFields.ToString()</li>
                    <li>Unknown username: @Model.UnknownUserName.ToString()</li>
                    <li>Password is incorrect: @Model.IncorrectPassword.ToString()</li>
                    <li>User is disabled: @Model.UserDisabled.ToString()</li>
                    <li>User is locked: @Model.UserLocked.ToString()</li>
                    <li>Unexpected error happends: @Model.UnknownError.ToString()</li>
                </ul>
            </div>
            @if (@Model.ExternalErrorMessages.Count > 0)
            {
                <div class="form-group">
                    <label>The general error messages</label> <br />
                    <ul>
                        @foreach (var error in @Model.ErrorMessages)
                        {
                            // Display the errors that require attention
                            <li>
                                @error
                            </li>
                        }
                    </ul>
                </div>
            }

            @if (@Model.ExternalErrorMessages.Count > 0)
            {
                <div class="form-group">
                    <label>The external error messages</label> <br />
                    <ul>
                        @foreach (var error in @Model.ExternalErrorMessages)
                        {
                            // Display the errors that require attention
                            <li>
                                @error
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
}
